/2. AbstractFactoryPattern_2/build/
/2. AbstractFactoryPattern_2/dist/
/2. AbstractFactoryPattern_2/nbproject/private/
/3. SingletonPattern/nbproject/private/
/3. SingletonPattern/build/
/3. SingletonPattern_1/nbproject/private/
/3. SingletonPattern_2/nbproject/private/
/3. SingletonPattern_2/build/
/4. BuilderPattern_1/nbproject/private/
/4. BuilderPattern_1/build/